/* .empfoot_card{
          width: 85vw;
          height: 10vh;
          padding-left:60px;
          box-shadow: 0px 0px 0.9px 0px rgba(0,0,0,0.75);
          border-radius: 13px;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
      .empfoot_card span{ 
          margin-left:9vw;
          font-size: 30px;
      }
      .empfoot_card h3{
          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 800;
          line-height: 18.75px;
          text-align: left;
      }
      .empfootend{
          display: flex;
          width: 15vw;
          justify-content: space-around;
      }
      .empfootend button{
          width:78px;
          height:39px;
          padding: 8px 12px 8px 12px;
          border-radius: 10px;
          border: 1px 0px 0px 0px;
      }
      .cancel_button{
        background-color: white;
      }
      .save_button{
          color: white;
          background-color: black;
      } */

      .empfoot_card{
        width: 82vw;
        height: 10vh;
        box-shadow: 0px 0px 0.9px 0px rgba(0,0,0,0.75);
        border-radius: 13px;
        display: flex;
        align-items: center;
        padding: 0px 27px;
    }
    .footitem:nth-child(1){
        flex-grow: 1;
    }
    .footitem:nth-child(2){
        flex-grow: 0;
    }
    .empfoot_card span{
        font-size: 30px;
    }
    .empfoot_card h3{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 800;
        line-height: 18px;
        text-align: left;
    }
    .empfootend{
        padding: 12px 0px;
    }
    .empfootend button{
        padding: 8px 17px;
        border-radius: 10px;
        margin-right: 6px;
    }
    .empfootend button:nth-child(1){
        background-color: white;
        margin-right: 60px;
    }
    .save_button{
        color: white;
        background-color: black;
    }

    @media (max-width:1400px) {
        .empfoot_card{
            width: 82vw;
       }
    }
    
    @media (max-width:1242px) {
        .empfoot_card{
            width: 82vw;
       }
    }

      @media(max-width:1094px){
        .empfoot_card{
           padding-left: 25px; 
           width: 82vw;
        height: 10vh;
        margin-top: 5px;
        }
    }

    @media (max-width:745px) {
        .empfoot_card{
         width: 82vw;
       }
    }
  
    @media(max-width:744px){
        .empfoot_card{
           padding-left: 25px; 
           width: 82vw;
        height: 10vh;
        margin-top: -6px;
        }
    }
    @media(max-width:561px){
        .empfoot_card{
           padding-left: 25px; 
           width: 82vw;
        height: 10vh;
        margin-top: 5px;
        }
    }

    @media(max-width:500px){
        .empfoot_card{
           padding-left: 25px; 
           width: 82vw;
           height: 10vh;
           margin-top: -7px;
        }
        .empfootend button{
            padding: 4px 9px;
            border-radius: 10px;
            margin-right: -12px;
        }
    }
    @media(max-width:415px){
        .empfoot_card{
           padding-left: 25px; 
           margin-top: -6px;
        }
        .empfootend button{
            padding: 4px 9px;
            border-radius: 10px;
            margin-right: -12px;
        }
    }
    @media (max-width:550px) {
        .empfootend button:nth-child(1){
            background-color: white;
            margin-right: 20px;
        }
    }